{% load static %}
<div class="modal fade" id="importUsersModal" tabindex="-1" aria-labelledby="importUsersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importUsersModalLabel">
                    <i class="ri-upload-2-line me-2"></i>Impor Pengguna dari Excel
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="importModalBody">
                {% include "users/partials/import_step1_upload.html" %}
            </div>
        </div>
    </div>
</div>
